/** @format */

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

html {
	width: 100vw;
	height: 100vh;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsl(0, 0%, 95%);
	width: 100%;
	height: 100%;
	padding: 100% 0;
}

img {
	width: 25%;
}

.container {
	border-radius: 0.5em;
	width: 85%;
	height: fit-content;
	font-size: 5vw;
	font-family: "Lexend Deca", sans-serif;
}

.car-adverts {
	padding: 2em;
}
.car-adverts:first-child {
	background-color: hsl(31, 77%, 52%);
	border-radius: 0.5em 0.5em 0 0;
}
.car-adverts:first-child a {
	color: hsl(31, 77%, 52%);
}

.car-adverts:nth-child(2) {
	background-color: hsl(184, 100%, 22%);
}
.car-adverts:nth-child(2) a {
	color: hsl(184, 100%, 22%);
}

.car-adverts:nth-child(3) {
	background-color: hsl(179, 100%, 13%);
	border-radius: 0 0 0.5em 0.5em;
}
.car-adverts:nth-child(3) a {
	color: hsl(179, 100%, 13%);
}

.advert-header {
	display: flex;
	flex-direction: column-reverse;
}

.car-type {
	color: hsl(0, 0%, 95%);
	text-transform: uppercase;
	font-family: "Big Shoulders Display", sans-serif;
}

.car-adverts p {
	color: hsla(0, 0%, 100%, 0.75);
	margin-top: 0;
	margin-bottom: 2em;
	font-size: 0.65em;
	line-height: 1.7em;
	padding-right: 5em;
}

.advert-learn-more {
	display: block;
	background-color: hsl(0, 0%, 95%);
	text-decoration: none;
	width: fit-content;
	padding: 0.5em 1.3em;
	border-radius: 2em;
}

/* For Deskktop */

@media (min-width: 400px) {
	body {
		padding: 0;
	}

	img {
		width: 40%;
	}

	.container {
		display: flex;
		width: 70%;
		font-size: 1.5vw;
	}

	.car-adverts {
		flex: 1;
	}

	.car-adverts:first-child {
		border-radius: 0.5em 0 0 0.5em;
	}

	.car-adverts:nth-child(3) {
		border-radius: 0 0.5em 0.5em 0;
	}

	.car-type {
		width: fit-content;
		font-size: 2.5em;
	}

	.car-adverts p {
		padding: 0;
		font-size: 0.8em;
		padding-right: 0.5em;
		padding-bottom: 4em;
	}

	.advert-learn-more {
		/* padding: 0.5em 1em; */
	}
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
